/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
 }

.container{
    background: #FFF;
    width: 1440px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

}

  /* ==============================header===============================================*/
.header {
border-bottom: 1px solid #e7e9fc
}

.heder-container {
 display: flex;
 align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
}
.hed-logo {
}
.header-list {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    margin-right: 0;
}
.header-menu {
}
.contacts {
}
.contacts-list {
}
.contacts-item {

}

.contacts-link{

}

/* =============================================================================*/



/* ==============================.section-one==============================================*/
.section-one {
}
.div-section-one {
}
.title-section-one {
}
.text-section-one {
}
.button {
}
.img-section-one{

}

/* ============================================================================*/


/* ==============================.section-two==============================================*/
.section-two {
}
.div-section-two {
}
.title-section-two {
}
.list-section-two {
}
.item-section-two {
}
.subtitle-section-two {
}
.text-section-two {
}

/* ==========================================================================*/


/* ==============================.section-three==============================================*/
.section-three {
}
.div-section-three {
}
.img-section-three{

}
.title-section-three {
}
.text-section-three {
}
.list-section-three {
}
.info-section-three {
}

/* ============================================================================*/


/* ==============================.section-four==============================================*/
.section-four {
}
.div-section-four {
}
.title-section-four {
}
.subtitle-section-four {
}
.text-section-four {
}
.link-section-four {
  

}
.img-section-four{

}

/* ============================================================================*/


/* ==============================.section-five==============================================*/
.section-five {
}
.div-section-five {
  width: 1180px;
}
.title-section-five {
color: var(--1, #2E363E);
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 133%;
display: flex;
justify-content: center;
margin-top: 175px;
margin-bottom: 60px;
}
.list-section-five {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.info-section-five {
padding: 20px 65px;
border-radius: 10px;
background: #FFF;
box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.05);

}
.img-section-five {
}
.subtitle-section-five {
color: var(--1, #2E363E);
font-family: Inter;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 29.7px */
margin-top: 47px;
}
.text-section-five{
color: var(--1, #2E363E);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 17.6px */
margin-bottom: 13px;
}

.text-section-five-price {
color: var(--2, #434B53);
font-family: Inter;
font-size: 24px;
font-style: italic;
font-weight: 600;
line-height: 110%; /* 26.4px */
position: relative;
bottom: 28px;
margin-left: 150px;
}
.link-section-five {
color: #5F0A61;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 18.7px */
display: flex;
justify-content: flex-end;
margin-top: 52px;
text-decoration: none; /* Видалити підкреслення посилання */
  position: relative;
}

.one-hundred{
  color: var(--1, #2E363E);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;

}

.link-section-five:after {
  content: ''; 
  display: block; 
  border-bottom: 1px solid #5F0A61;
  position: absolute; 
  bottom: -4px; 
  width: 44%; 
}


/* ============================================================================*/


/* ==============================.section-six==============================================*/
.section-six {
}
.div-section-six {
}
.title-section-six {
}
.text-section-six {
}

/* ============================================================================*/


/* ==============================footer=============================================*/
.footer {
}
.link-footer {
}
.logo-footer {
}
.tel-footer {
}

/* ============================================================================*/