/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
 }

.container{
    background: #FFF;
    width: 1440px;
    height: 5330px;

}

  /* ==============================header===============================================*/
.header {
}

.heder-container {
}
.header-nav {
}
.header-logo {
}
.hed-logo {
}
.header-list {
}
.header-menu {
}
.contacts {
}
.contacts-list {
}
.contacts-item {

}

.contacts-link{

}

/* =============================================================================*/



/* ==============================.section-one==============================================*/
.section-one {
}
.div-section-one {
}
.title-section-one {
}
.text-section-one {
}
.button {
}
.img-section-one{

}

/* ============================================================================*/


/* ==============================.section-two==============================================*/
.section-two {
}
.div-section-two {
}
.title-section-two {
}
.list-section-two {
}
.item-section-two {
}
.subtitle-section-two {
}
.text-section-two {
}

/* ==========================================================================*/


/* ==============================.section-three==============================================*/
.section-three {
}
.div-section-three {
}
.img-section-three{

}
.title-section-three {
}
.text-section-three {
}
.list-section-three {
}
.info-section-three {
}

/* ============================================================================*/


/* ==============================.section-four==============================================*/
.section-four {
}
.div-section-four {
}
.title-section-four {
}
.subtitle-section-four {
}
.text-section-four {
}
.link-section-four {
}
.img-section-four{

}

/* ============================================================================*/


/* ==============================.section-five==============================================*/
.section-five {
}
.div-section-five {
}
.title-section-five {
}
.list-section-five {
}
.info-section-five {
}
.img-section-five {
}
.subtitle-section-five {
}
.text-section-five {
}
.link-section-five {
}

/* ============================================================================*/


/* ==============================.section-six==============================================*/
.section-six {
}
.div-section-six {
}
.title-section-six {
}
.text-section-six {
}

/* ============================================================================*/


/* ==============================footer=============================================*/
.footer {
}
.link-footer {
}
.logo-footer {
}
.tel-footer {
}

/* ============================================================================*/